/*----- css for login.jsx ---*/
/* :root {
    --bg-color: #fff;
    --text-color: #000;
} */

[data-theam="light"] {
    --bg-color: #f5f5f5;
    --text-color: #000;
    --left-bg-color: gray;
    --left-bg-border-color: 1px solid gray;
    --right-bg-border-color: 3px solid gray;
    --cont-inp: #767676;
    --inp-border: 1px solid grey;
    --inp-border-bottom-color: 5px solid #0032e8;
    --error-msg: brown;
    --btn-border-color: 1px solid gray;
    --btn-text-color: #353535;
    --data-row-bg: #ffffff;
    --data-row-border: 1px solid #d5d5d5;
    --column-bg: #f0f0f0;
    --column-border: 1px solid #dcdcdc;


}

[data-theam="dark"] {
    --bg-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
    --left-bg-color: gray;
    --left-bg-border-color: 1px solid gray;
    --right-bg-border-color: 3px solid gray;
    --cont-inp: #767676;
    --inp-border: 1px solid grey;
    --inp-border-bottom-color: 5px solid #000;
    --error-msg: brown;
    --btn-border-color: 1px solid gray;
    --btn-text-color: #353535;
    --data-row-bg: #1b1b1b;
    --data-row-border: 1px solid #333;
    --column-bg: #2a2a2a;
    --column-border: 1px solid #3a3a3a;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.login-cont-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    gap: 5px;
}

.login-left-span {
    height: 0px;
    width: 0px;
}

.login-right-span {
    margin: 3%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: var(--right-bg-border-color);
    border-radius: 30px;

}

.form-body {
    margin-top: 5%;
    height: auto;
    min-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* border-radius: 30px; */
    /* border: 3px solid gray; */

}

@media (min-width: 769px) {
    .login-left-span {
        height: 95vh;
        width: 55%;
        background-color: var(--left-bg-color);
        border: var(--left-bg-border-color);
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        border-radius: 30px;
    }

    .login-right-span {
        margin-top: 5%;
        min-height: auto;
        width: 40%;
        border: 3px solid gray;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}

.heading-cont {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    /* background-color: #0032e8;    */
}

.component-heading {
    font-size: 350%;
    font-weight: 600;
    align-self: center;
}

.themIcon {
    height: 35px;
    width: 35px;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 50px;
    margin-left: 20px;

}

.form-body {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 15px;
    /* height: auto;
    width: auto; */
}

.cont-of-inp {
    min-height: 50px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--cont-inp);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.inp {
    width: 98%;
    height: 60px;
    padding-left: 10px;
    font-size: 120%;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 5px;
    border-bottom: var(--inp-border-bottom-color);
    margin-bottom: 2px;

}

.error-message {
    color: brown;
    font-weight: 700;
    align-self: flex-start;
    padding-left: 18px;
    font-size: 95%;
}

.btn {
    width: 60%;
    height: 45px;
    border-radius: 5px;
    border: var(--btn-border-color);
    font-size: 130%;
    color: var(--btn-text-color);
    margin-top: 2%;
    margin-bottom: 5%;
}

.btn:hover {
    border-radius: 30px;
}

.popup-register {
    width: 100%;
    display: flex;
    justify-content: center;
}

.popup-right {
    width: 100%;
    padding: 20px;
}

.register-outer-cont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    box-sizing: border-box;
}

.register-inner {
    box-sizing: border-box;
    align-self: center;
    padding: 1%;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--right-bg-border-color);
    border-radius: 30px;
}


/* for demo */
.cont-of-inp-demo {
    min-height: 50px;
    padding: 5px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #767676;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-demo {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 130%;
    color: #353535;
    margin-top: 20px;
}

.btn-demo:hover {
    border-radius: 30px;

}

.table {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 5px;
    grid-row: 9px;
    /* border: 2px solid #0032e8; */
    overflow: visible;

}

#toggle-btn {
    position: relative;
}

.eachRow {
    width: fit-content;
    min-height: 50px;
    border: var(--data-row-border);
    background-color: var(--data-row-bg);
    border-radius: 15px;
    padding: 12px;
    margin-top: 12px;
}

.column {
    display: inline-block;
    align-content: center;
    width: auto;
    height: auto;
    margin-right: 10px;
    word-break: break-all;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--column-bg);
    border: var(--column-border);
    padding: 8px 12px;
    margin: 6px;
    font-size: 14px;
}

.btnAdmin {
    width: 45%;
    height: 70px;
    border-radius: 5px;
    border: var(--btn-border-color);
    font-size: 150%;
    color: var(--btn-text-color);
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

.btnAdmin:hover {
    border-radius: 50px;
}

.Add-Feth-cont {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.btn-user {
    width: auto;
    height: auto;
    background-color: var(--bg-color);
    border-radius: 5px;
    border: var(--btn-border-color);
    font-size: 100%;
    color: var(--text-color);
    padding: 8px 12px;
    margin: 6px;
    /* margin-top: 20px; */
}

.btn-user:hover {
    border-radius: 30px;
}

.popup-cont {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    color: var(--text-color);
    height: auto;
    width: 90vw;
    max-width: 550px;
    border-radius: 15px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--btn-border-color);
}

.heading-popup{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#close{
    margin-left: 50px;
}

